.App {
  text-align: center;
}

.App-header {
  background-color: #c51d23;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links .active {
  font-weight: bold;
}

h1 {
  color: #c51d23;
  margin-bottom: 20px;
}
