.announcement {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align children */
  justify-content: flex-start; /* Align items to the start of the container */
  background-color: #fff;
  color: #484848;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: auto; /* Adjust height to auto to accommodate content */
  max-width: auto; 
  margin: auto; /* Center the announcement in its parent container */
}


.create-button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}
.create-button {
  padding: 8px 16px;
  border: none;
  background-color: #A31218;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}